  /* ------------ Base Layout ------------ */
.App {
    font-family: "DM Sans", sans-serif;
    background-color: #fafafa;
    min-height: 100vh;
  }

  .Main {
    padding-top: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

/* ------------ Typography ------------ */
body {
  font-size: 16px;
  color: #333;
}

/* ------------ Links ------------ */
a {
  color: #444;
  transition: color 0.25s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #1c3fb0;
  text-decoration: underline;
}

a:hover i {
  color: #1c3fb0;
}

/* ------------ Icons ------------ */
i {
  color: #c6c5cb;
  font-size: 1.5rem;
  padding: 0.4rem;
  vertical-align: middle;
  transition: color 0.25s ease-in-out;
}

i:hover {
  cursor: pointer;
  color: #1c3fb0;
}

/* ------------ Containers ------------ */
.Content {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.Card {
  background-color: #fff;
  padding: 1.2rem;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}