  /* ------------ Base Layout ------------ */
.App {
    font-family: "DM Sans", sans-serif;
    background-color: #fafafa;
    min-height: 100vh;
  }

  .Main {
    padding-top: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}